.vm-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    background-color: #ccc;
    border-radius: 20px;
    text-align: center;
    line-height: 1;
}
